/*  your css code here. If applicable */
.cards-wrapper{
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: auto;
	grid-gap: 10px;
	
}
body{
	background-color: #fafafa;
}
.card{
	border: 10px solid #ccc;
	/* background-color: #fafafa; */
}
.card h1{
	font-size: 36px;
}
.card p{
	font-size: 18px;
}